[Unit]
Description=Crafty Controller
After=network.target

[Service]
Type=simple
User=crafty
WorkingDirectory=/var/opt/minecraft/crafty/crafty-4
ExecStart=/var/opt/minecraft/crafty/.venv/bin/python3 /var/opt/minecraft/crafty/crafty-4/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
